.AppHeader{
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4px 20px 4px 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
    overflow: hidden;
}


.logo{
    padding: 16px;
    font-size: 24px;
    background-color: #1677ff;
    color: white;
    width: 250px;
}

.searchContainer{
    flex: 2;
    padding: 0 24px;
}