

.SideMenuAndPageContent{
    display: flex;
   
    justify-content: flex-start;
    align-items: flex-start;
    background-color: rgba(0, 0, 0, 0.05) ;
}

.PageContent{ 
    flex:2;
    height: 100%;
    padding: 20px 50px;
    /* padding-left: 12px; */
}

.Button{
    display: flex;
    justify-content: center;
    width: 80%;
    height: 100%;
}

.custom-row:hover {
  cursor: pointer;
}
