
.App{
    display: flex;
    flex-direction: column;
    width: 100vw;
   
}
.SideMenuAndPageContent{
    display: flex;
    flex: 1;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: rgba(0, 0, 0, 0.05) ;
}

.PageContent{ 
    height: 100%;
    padding: 50px;
    /* padding-left: 12px; */
}